# Creating parser for HH.Ru

In [1]:
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib
import plotly.plotly as py
import plotly.graph_objs as go
from plotly.offline import iplot
import cufflinks
cufflinks.go_offline()


headers = {'accept': '*/*',
           'user-agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_5) AppleWebKit/537.36 (KHTML, like Gecko) '
                         'Chrome/74.0.3729.169 Safari/537.36'}

base_url = 'https://tver.hh.ru/search/vacancy?area=89&text=Python'


def Parser(base_url, headers):
    global title, company, href, compensation
    data = []

    session = requests.Session()
    request = session.get(base_url, headers=headers)
    if request.status_code == 200:
        soup = bs(request.content, 'html.parser')
        divs = soup.find_all('div', attrs={'data-qa': 'vacancy-serp__vacancy'})

        print('По запросу найдено: ', len(divs), '\n')
        for div in divs:
            title = div.find('a', attrs={'data-qa': 'vacancy-serp__vacancy-title'}).text
            href = div.find('a', attrs={'data-qa': 'vacancy-serp__vacancy-title'})['href']
            company = div.find('a', attrs={'data-qa': 'vacancy-serp__vacancy-employer'}).text
            compensation = div.find('div', class_="vacancy-serp-item__sidebar").text

            print(company)
            print(href)
            print(title)
            print(compensation, '\n')

        print("Connection is OK! \n")
    else:
        print("Connection denied! \n")

    data.append({
        'title': title,
        'href': href,
        'company': company,
        'compensation': compensation
    })


Frame = pd.DataFrame({'title': ['Software developer',                   # 1
                                'Lead Mobile Networking Architect',     # 2
                                'Developer-analyst',                    # 3
                                'Python-developer',                     # 4
                                'Python-developer',                     # 5
                                'Python&JS-developer',                  # 6
                                'DevOps Engineer Linux',                # 7
                                'Python teacher',                       # 8
                                'Senior QA Engineer',                   # 9
                                'DB-developer',                         # 10
                                'Software Engineer',                    # 11
                                'Senior system analyst',                # 12
                                'DB-developer',                         # 13
                                'BigData-developer',                    # 14
                                ],

                      'href': ['https://tver.hh.ru/vacancy/32843807?query=Python',
                               'https://tver.hh.ru/vacancy/33321515?query=Python',
                               'https://tver.hh.ru/vacancy/32790471?query=Python',
                               'https://tver.hh.ru/vacancy/31510872?query=Python',
                               'https://tver.hh.ru/vacancy/32730086?query=Python',
                               'https://tver.hh.ru/vacancy/30693999?query=Python',
                               'https://tver.hh.ru/vacancy/33009714?query=Python',
                               'https://tver.hh.ru/vacancy/32856867?query=Python',
                               'https://tver.hh.ru/vacancy/32849995?query=Python',
                               'https://tver.hh.ru/vacancy/31510793?query=Python',
                               'https://tver.hh.ru/vacancy/31510904?query=Python',
                               'https://tver.hh.ru/vacancy/31452735?query=Python',
                               'https://tver.hh.ru/vacancy/31510838?query=Python',
                               'https://tver.hh.ru/vacancy/32803116?query=Python'],

                      'company': ['OOO Integer',
                                  'Nokia Networks',
                                  'OOO Alpha Company',
                                  'RuBaseIT',
                                  'RuBaseIT',
                                  'RuBaseIT',
                                  'OOO Telecontact',
                                  'techno-land Quantorium',
                                  'Studio-Evolution',
                                  'RuBaseIT',
                                  'RuBaseIT',
                                  'Accenture',
                                  'RuBaseIT',
                                  'EPAM System Inc',
                                  ],

                      'compensation': [30000,
                                       None,
                                       55000,
                                       52500,
                                       60000,
                                       70000,
                                       50000,
                                       33000,
                                       95000,
                                       None,
                                       None,
                                       None,
                                       None,
                                       None]})

print(Frame)
Frame.to_csv('OutputData.csv', sep='\t', header=True, index=True)

Parser(base_url, headers)

Using matplotlib backend: MacOSX

                               title  \
0                 Software developer
1   Lead Mobile Networking Architect
2                  Developer-analyst
3                   Python-developer
4                   Python-developer
5                Python&JS-developer
6              DevOps Engineer Linux
7                     Python teacher
8                 Senior QA Engineer
9                       DB-developer
10                 Software Engineer
11             Senior system analyst
12                      DB-developer
13                 BigData-developer

                                                href                 company  \
0   https://tver.hh.ru/vacancy/32843807?query=Python             OOO Integer
1   https://tver.hh.ru/vacancy/33321515?query=Python          Nokia Networks
2   https://tver.hh.ru/vacancy/32790471?query=Python       OOO Alpha Company
3   https://tver.hh.ru/vacancy/31510872?query=Python                RuBaseIT
4   https://tver.hh.ru/vacancy/32730086?query=Python                RuBaseIT
5   https://tver.hh.ru/vacancy/30693999?query=Python                RuBaseIT
6   https://tver.hh.ru/vacancy/33009714?query=Python         OOO Telecontact
7   https://tver.hh.ru/vacancy/32856867?query=Python  techno-land Quantorium
8   https://tver.hh.ru/vacancy/32849995?query=Python        Studio-Evolution
9   https://tver.hh.ru/vacancy/31510793?query=Python                RuBaseIT
10  https://tver.hh.ru/vacancy/31510904?query=Python                RuBaseIT
11  https://tver.hh.ru/vacancy/31452735?query=Python               Accenture
12  https://tver.hh.ru/vacancy/31510838?query=Python                RuBaseIT
13  https://tver.hh.ru/vacancy/32803116?query=Python         EPAM System Inc

    compensation
0        30000.0
1            NaN
2        55000.0
3        52500.0
4        60000.0
5        70000.0
6        50000.0
7        33000.0
8        95000.0
9            NaN
10           NaN
11           NaN
12           NaN
13           NaN
По запросу найдено:  19

АО Торговая Компания Альфа
https://tver.hh.ru/vacancy/32790471?query=Python
Программист Python
до 55 000 руб.

 NAUMEN
https://tver.hh.ru/vacancy/34449527?query=Python
Разработчик Scala / Junior Scala Developer (готовы переучивать с Java / C++ / С# / Python и др.)


 Русские базовые информационные технологии, Научно-производственное объединение
https://tver.hh.ru/vacancy/35032551?query=Python
Разработчик по Javascript и Python
от 70 000 руб.

 Русские базовые информационные технологии, Научно-производственное объединение
https://tver.hh.ru/vacancy/34298779?query=Python
Python-разработчик
от 60 000 руб.

ООО ТЕЛЕКОНТАКТ
https://tver.hh.ru/vacancy/34318985?query=Python
Разработчик Python
50 000-80 000 руб.

 NAUMEN
https://tver.hh.ru/vacancy/34616325?query=Python
Разработчик Scala / Middle Scala Developer (готовы переучивать с Java / C++ / С# / Python)


 EPAM Systems, Inc.
https://tver.hh.ru/vacancy/35101266?query=Python
DevOps engineer


 NAUMEN
https://tver.hh.ru/vacancy/34450096?query=Python
Разработчик Scala / Middle Scala Developer (готовы переучивать с Java / C++ / С# / Python)


 Ассоциация «Русский Свет»
https://tver.hh.ru/vacancy/34680900?query=Python
System Analyst (IT Consultant)


 Русские базовые информационные технологии, Научно-производственное объединение
https://tver.hh.ru/vacancy/34299812?query=Python
Разработчик-проектировщик баз данных (ведущий инженер-программист)


ЗАО НИЦ РЕЗОНАНС
https://tver.hh.ru/vacancy/34467042?query=Python
Программист С++


 Tibbo
https://tver.hh.ru/vacancy/34979480?query=Python
Специалист по внедрению корпоративного ПО
от 40 000 руб.

 Studio-Evolution
https://tver.hh.ru/vacancy/34931987?query=Python
Cтарший тестировщик (QA инженер)
от 60 000 руб.

 Otto Group Russia - ООО ДИРЕКТ КАТАЛОГ СЕРВИС
https://tver.hh.ru/vacancy/34345385?query=Python
Системный администратор Linux


 EPAM Systems, Inc.
https://tver.hh.ru/vacancy/34891362?query=Python
Big Data разработчик


 Accenture
https://tver.hh.ru/vacancy/34446516?query=Python
Senior system analyst


ИП Дубовицкая Светлана Владимировна
https://tver.hh.ru/vacancy/34905426?query=Python
Программист-разработчик
от 50 000 руб.

 ОТП Банк, АО (OTP bank)
https://tver.hh.ru/vacancy/34864380?query=Python
Ведущий специалист по технической поддержке контактного центра


ООО ТЕЛЕКОНТАКТ
https://tver.hh.ru/vacancy/34318412?query=Python
Системный администратор Linux
50 000-80 000 руб.

Connection is OK!

# Python DataFrame

In [5]:
Frame

,title,href,company,compensation
0,Software developer,https://tver.hh.ru/vacancy/32843807?query=Python,OOO Integer,30000.0
1,Lead Mobile Networking Architect,https://tver.hh.ru/vacancy/33321515?query=Python,Nokia Networks,NaN
2,Developer-analyst,https://tver.hh.ru/vacancy/32790471?query=Python,OOO Alpha Company,55000.0
3,Python-developer,https://tver.hh.ru/vacancy/31510872?query=Python,RuBaseIT,52500.0
4,Python-developer,https://tver.hh.ru/vacancy/32730086?query=Python,RuBaseIT,60000.0
5,Python&JS-developer,https://tver.hh.ru/vacancy/30693999?query=Python,RuBaseIT,70000.0
6,DevOps Engineer Linux,https://tver.hh.ru/vacancy/33009714?query=Python,OOO Telecontact,50000.0
7,Python teacher,https://tver.hh.ru/vacancy/32856867?query=Python,techno-land Quantorium,33000.0
8,Senior QA Engineer,https://tver.hh.ru/vacancy/32849995?query=Python,Studio-Evolution,95000.0
9,DB-developer,https://tver.hh.ru/vacancy/31510793?query=Python,RuBaseIT,NaN
10,Software Engineer,https://tver.hh.ru/vacancy/31510904?query=Python,RuBaseIT,NaN
11,Senior system analyst,https://tver.hh.ru/vacancy/31452735?query=Python,Accenture,NaN
12,DB-developer,https://tver.hh.ru/vacancy/31510838?query=Python,RuBaseIT,NaN
13,BigData-developer,https://tver.hh.ru/vacancy/32803116?query=Python,EPAM System Inc,NaN

# Java DataFrame

In [6]:
import bamboolib as bam

# Computer Vision

In [7]:
CompVis = pd.read_csv('/Users/admin/PycharmProjects/parser/CV_Data.csv', sep='\t', error_bad_lines=False)

In [8]:
CompVis

,Unnamed: 0,title,href,company,compensation
0,0,Computer Vision intern,https://tver.hh.ru/vacancy/32712667?query=%D0%...,OOO 2050 Integrator,NaN
1,1,Team Lead Computer Vision Engineer,https://tver.hh.ru/vacancy/33303067?query=%D0%...,OOO 2050 Integrator,NaN

In [9]:
Union_df = pd.concat([Frame, CompVis], ignore_index=True)

In [10]:
Union_df = Union_df.drop(columns='Unnamed: 0')

# Union DataFrame (Python + Java + CompVis)

In [11]:
Union_df

,company,compensation,href,title
0,OOO Integer,30000.0,https://tver.hh.ru/vacancy/32843807?query=Python,Software developer
1,Nokia Networks,NaN,https://tver.hh.ru/vacancy/33321515?query=Python,Lead Mobile Networking Architect
2,OOO Alpha Company,55000.0,https://tver.hh.ru/vacancy/32790471?query=Python,Developer-analyst
3,RuBaseIT,52500.0,https://tver.hh.ru/vacancy/31510872?query=Python,Python-developer
4,RuBaseIT,60000.0,https://tver.hh.ru/vacancy/32730086?query=Python,Python-developer
5,RuBaseIT,70000.0,https://tver.hh.ru/vacancy/30693999?query=Python,Python&JS-developer
6,OOO Telecontact,50000.0,https://tver.hh.ru/vacancy/33009714?query=Python,DevOps Engineer Linux
7,techno-land Quantorium,33000.0,https://tver.hh.ru/vacancy/32856867?query=Python,Python teacher
8,Studio-Evolution,95000.0,https://tver.hh.ru/vacancy/32849995?query=Python,Senior QA Engineer
9,RuBaseIT,NaN,https://tver.hh.ru/vacancy/31510793?query=Python,DB-developer
10,RuBaseIT,NaN,https://tver.hh.ru/vacancy/31510904?query=Python,Software Engineer
11,Accenture,NaN,https://tver.hh.ru/vacancy/31452735?query=Python,Senior system analyst
12,RuBaseIT,NaN,https://tver.hh.ru/vacancy/31510838?query=Python,DB-developer
13,EPAM System Inc,NaN,https://tver.hh.ru/vacancy/32803116?query=Python,BigData-developer
14,OOO 2050 Integrator,NaN,https://tver.hh.ru/vacancy/32712667?query=%D0%...,Computer Vision intern
15,OOO 2050 Integrator,NaN,https://tver.hh.ru/vacancy/33303067?query=%D0%...,Team Lead Computer Vision Engineer

In [12]:
bam.show(Union_df)

VBox(children=(HTML(value='<div style="color:#004085;background-color:#cce5ff;border-color:#b8daff;position: r…

In [ ]:
Union_df.iplot(
    x='company',
    y='title',
    # Указываем категорию
    xTitle='company',
    yTitle='title',
    title='Dependence of title on company')

In [ ]:
Union_df.iplot(
    x='title',
    y='compensation',
    # Указываем категорию
    xTitle='Position',
    yTitle='Salary',
    title='Dependence of salary on position')

In [ ]:
import plotly.plotly as py
import plotly.graph_objs as go
from plotly.offline import iplot
import cufflinks
cufflinks.go_offline()

Union_df['compensation'].iplot(kind='hist', xTitle='Linear Distribution',
                  yTitle='Increase', title='Salary Distribution')

diff = Union_df['compensation'].diff().hist()
print('Discrete difference: ', diff)
compensation_mean = Union_df.get('compensation')
print('Mean Salary (Rub/Mon): ',compensation_mean.mean())

In [ ]:
import pandas as pd